Alan Goo <alangoo@hancom.com>                                 <behumble@hanjava.net>
Alexander Chingarev <alexander.chingarev@duallab.com>         <alexander.chingarev@itextpdf.com>
Alexander Chingarev <alexander.chingarev@svaps.com>           <alexander.chingarev@gmail.com>
Alexander Chingarev <alexander.chingarev@svaps.com>           <alexander.chingarev@svaps.com>
Alexey Subach <alexey.subach@duallab.com>                     <alexey.subach@gmail.com>
Alexey Subach <alexey.subach@duallab.com>                     <alexey.subach@itextpdf.com>
Amedee Van Gasse <amedee.vangasse@itextpdf.com>               <amedee-github@amedee.be>
Amedee Van Gasse <amedee.vangasse@itextpdf.com>               <amedee@vangasse.eu>
Andrew Panfilov <andrew@panfilov.tel>                         <andrew@panfilov.tel>
Bart De Meyer <bart@bartdemeyer.be>                           <bart@itextpdf.com>
Benoît Lagae <benoit.lagae@itextpdf.com>                      <benoit@iText-blagae>
Benoît Lagae <benoit.lagae@itextpdf.com>                      <benoit.lagae@itextpdf.com>
Benoît Lagae <benoit.lagae@itextpdf.com>                      <benoit.lagae.s6547@student.hogent.be>
Bruno Lowagie <bruno.lowagie@itextpdf.com>                    <bruno_000@192.168.1.3>
Bruno Lowagie <bruno.lowagie@itextpdf.com>                    <bruno.lowagie@itextpdf.com>
Bruno Lowagie <bruno.lowagie@itextpdf.com>                    <iText@Catullus>
Bryan <bryan@hancom.com>                                      <bryan@192.168.152.124>
Dimitry Alexandrov <dimzon541@gmail.com>                      <dimzon541@gmail.com>
Dmitry Trusevich <dmitry.trusevich@duallab.com>               <dmitry.trusevich@duallab.com>
Dmitry Trusevich <dmitry.trusevich@duallab>                   <dmitry.trusevich@duallab>
Dominik Helm <dominik.helm@stud.tu-darmstadt.de>              <dominik.helm@stud.tu-darmstadt.de>
gothinkfree <tyoh@hancom.com>                                 <tyoh@hancom.com>
Ilya Idamkin <ilya.idamkin@duallab.com>                       <ilya.idamkin@TeamCity>
iText Software <development@itextpdf.com>                     <community@itextpdf.com>
iText Software <development@itextpdf.com>                     <development@itextpdf.com>
iText Software <development@itextpdf.com>                     <jenkins@itextpdf.com>
iText Software <development@itextpdf.com>                     <jenkins@jenkins.itextsupport.com>
iText Software <development@itextpdf.com>                     <leeroy@itextpdf.com>
iText Software <development@itextpdf.com>                     <teamcity.bot@TeamCity>
iText Software <development@itextpdf.com>                     <teamcity@duallab.com>
iText Software <development@itextpdf.com>                     <teamcity@itextpdf.com>
Jeff Monson <jeff@advizr.co>                                  <jeff@advizr.co>
Joris Schellekens <joris.schellekens@itextpdf.com>            <joris.schellekens@itextpdf.com>
Kevin Day <kevin@trumpetinc.com>                              <kevin@melville.trumpetinc.local>
Kevin Day <kevin@trumpetinc.com>                              <kevin@trumpetinc.com>
Kevin Willems <kevin.willems@itextpdf.com>                    <kevin.willems1993@gmail.com>
Kevin Willems <kevin.willems@itextpdf.com>                    <kevin.willems1993@gmail.com>
LaughingMan <LingMan@users.noreply.github.com>                <LingMan@users.noreply.github.com>
Markus Wernig <markus.wernig@xfer.ch>                         <markus.wernig@xfer.ch>
Marvin Wichmann <marvin@fam-wichmann.de>                      <marvin@fam-wichmann.de>
Marvin Wichmann <marvin.wichmann@fusion-hub.com>              <marvin.wichmann@fusion-hub.com>
Marvin Wichmann <marvin.wichmann@unic.com>                    <marvin.wichmann@unic.com>
Michaël Demey <michael.demey@itextpdf.com>                    michael.demey <>
Michaël Demey <michael.demey@itextpdf.com>                    <michael.demey@itextpdf.com>
Michaël Demey <michael.demey@itextpdf.com>                    <michael.demey@TeamCity>
Michaël Demey <michael.demey@itextpdf.com>                    <mikkeldemey@gmail.com>
Michael Glazunoff <michael.glazunoff@gmail.com>               <michael.glazunoff@gmail.com>
Michael Klink <klink@csi.com>                                 <klink@csi.com>
Michael Klink <mkl@wir-sind-cool.org>                         <mkl@wir-sind-cool.org>
Nadia Ivaniukovich <nadia.ivaniuckovich@duallab.com>          <nadia.ivaniuckovich@duallab.com>
Nadia Ivaniukovich <nadia.ivaniukovich@duallab.com>           <nadia.ivaniukovich@duallab.com>
Nadja Sych <nadja.sych@duallab.com>                           <nadja.sych@duallab.com>
Olivier Blaise <olivier@blaise.name>                          <olivier@blaise.name>
Orabi Nakhla <orabi.nakhla@itextpdf.com>                      <orabi.nakhla@itextpdf.com>
Orabi Nakhla <orabi.nakhla@itextpdf.com>                      <orabi.nakhleh@gmail.com>
Paulo Soares <pgpsoares@gmail.com>                            <pgpsoares@gmail.com>
Paulo Soares <psoares@gmail.com>                              <psoares@gmail.com>
Pavel Alay <pavel.alay@duallab.com>                           pavel.alay <>
Pavel Alay <pavel.alay@duallab.com>                           <pavel.alay@gmail.com>
Pavel Alay <pavel.alay@duallab.com>                           <pavel.alay@TeamCity>
Pavel Morozov <pavel.morozov@duallab.com>                     <pavel.morozov@duallab.com>
Pavel Morozov <pavel.morozov@duallab.com>                     <p.morozov@i-pnt.ru>
Peter Goodman <pete@petegoo.com>                              <github@petegoo.com>
Peter Goodman <pete@petegoo.com>                              <pete@petegoo.com>
Peter Goodman <pete@petegoo.com>                              <peter.goodman@pushpay.com>
Peter Kjuak <peter.kjuak@itextpdf.com>                        <peter.kjuak@itextpdf.com>
Richard Cohn <rcohn@adobe.com>                                <richard@cohns.org>
Richard Schwark <richard.schwark@planet.de>                   <richard.schwark@planet.de>
Roman Leonov <roman.leonov@duallab.com>                       <roman.leonov@duallab.com>
Roman Nadvodny <roman.nadvodniuk@duallab.com>                 <roman.nadvodniuk@duallab.com>
Sasha Kalykhan <alexander.kalykhan@duallab.com>               <alexander.kalykhan@duallab.com>
Sasha Kalykhan <alexander.kalykhan@duallab.com>               <alexanderkalykhan@gmail.com>
Semen Yakushev <semen.yakushev@duallab.com>                   <semen.yakushev@duallab.com>
Valera <7691262@mail.ru>                                      <7691262@mail.ru>
Veronika Lisovskaya <veronika.lisovskaya@duallab.com>         <veronika.lisovskaya@TeamCity>
Vit Nemecky <vit.nemecky@asseco-ce.com>                       <vit.nemecky@asseco-ce.com>
Yanina Cheremisina <yanina.cheremisina@svaps.com>             <yanina.cheremisina@svaps.com>
Yulian Gaponenko <yulian.gaponenko@duallab.com>               <duallab@DESKTOP-PG4L5J1>
Yulian Gaponenko <yulian.gaponenko@duallab.com>               <yulian.gaponenko@TeamCity>
