<html>
<head>
    <style>
        th, td {
            text-align: center;
            height: 45px;
            border: 1px solid black;
        }

        table {
            font-family: Courier;
        }

        tr.separator {
            background-color: red;
        }
        td.lastColumn {
            font-family: 'Open Sans Light';
        }
    </style>
</head>
<body>
<table>
    <col width="50">
    <col width="50">
    <col width="50">
    <col width="300">
    <tr>
        <th scope="col">Font-family</th>
        <th scope="col">Font-weight</th>
        <th scope="col">Font-style</th>
        <th scope="col">Result</th>
    </tr>
    <tr class="separator"><td colspan="4">Normal</td></tr>
    <tr>
        <td>open sans</td>
        <td>300</td>
        <td></td>
        <td class="lastColumn" style="font-weight: 300;">quick brown fox jumps over the lazy dog</td>
    </tr>
    <tr>
        <td>open sans</td>
        <td>100</td>
        <td></td>
        <td class="lastColumn" style="font-weight: 100;">quick brown fox jumps over the lazy dog</td>
    </tr>
    <tr>
        <td>open sans</td>
        <td>normal</td>
        <td></td>
        <td class="lastColumn" style="font-weight: normal;">quick brown fox jumps over the lazy dog</td>
    </tr>
    <tr>
        <td>open sans</td>
        <td></td>
        <td>normal</td>
        <td class="lastColumn" style="font-style: normal;">quick brown fox jumps over the lazy dog</td>
    </tr>
    <tr class="separator"><td colspan="4">Bold</td></tr>
    <tr>
        <td>open sans</td>
        <td>bold as flag</td>
        <td></td>
        <td class="lastColumn" style="font-weight: bold;">quick brown fox jumps over the lazy dog</td>
    </tr>
    <tr>
        <td>open sans</td>
        <td>bold</td>
        <td></td>
        <td class="lastColumn" style="font-weight: bold;">quick brown fox jumps over the lazy dog</td>
    </tr>
    <tr>
        <td>open sans</td>
        <td>700</td>
        <td></td>
        <td class="lastColumn" style="font-weight: 700;">quick brown fox jumps over the lazy dog</td>
    </tr>
    <tr>
        <td>open sans</td>
        <td>800</td>
        <td></td>
        <td class="lastColumn" style="font-weight: 800;">quick brown fox jumps over the lazy dog</td>
    </tr>
    <tr class="separator"><td colspan="4">Italic</td></tr>
    <tr>
        <td>open sans</td>
        <td></td>
        <td>italic</td>
        <td class="lastColumn" style="font-style: italic;">quick brown fox jumps over the lazy dog</td>
    </tr>
    <tr>
        <td>open sans</td>
        <td>normal</td>
        <td>italic</td>
        <td class="lastColumn" style="font-weight: normal; font-style: italic;">quick brown fox jumps over the lazy dog</td>
    </tr>
    <tr>
        <td>open sans</td>
        <td>300</td>
        <td>italic</td>
        <td class="lastColumn" style="font-weight: 300; font-style: italic;">quick brown fox jumps over the lazy dog</td>
    </tr>
    <tr>
        <td>open sans</td>
        <td>500</td>
        <td>italic</td>
        <td class="lastColumn" style="font-weight: 500; font-style: italic;">quick brown fox jumps over the lazy dog</td>
    </tr>
    <tr>
        <td>open sans</td>
        <td></td>
        <td>oblique</td>
        <td class="lastColumn" style="font-style: oblique;">quick brown fox jumps over the lazy dog</td>
    </tr>
    <tr class="separator"><td colspan="4">BoldItalic</td></tr>
    <tr>
        <td>open sans</td>
        <td>bold</td>
        <td>italic</td>
        <td class="lastColumn" style="font-weight: bold; font-style: italic;">quick brown fox jumps over the lazy dog</td>
    </tr>
    <tr>
        <td>open sans</td>
        <td>bold</td>
        <td>oblique</td>
        <td class="lastColumn" style="font-weight: bold; font-style: oblique;">quick brown fox jumps over the lazy dog</td>
    </tr>
    <tr>
        <td>open sans</td>
        <td>700</td>
        <td>italic</td>
        <td class="lastColumn" style="font-weight: 700; font-style: italic;">quick brown fox jumps over the lazy dog</td>
    </tr>
    <tr>
        <td>open sans</td>
        <td>900</td>
        <td>oblique</td>
        <td class="lastColumn" style="font-weight: 900;font-style: oblique;">quick brown fox jumps over the lazy dog</td>
    </tr>
</table>
</body>
</html>