<!DOCTYPE html>
<html>
<head>
    <style>
        #main {
            width: 400px;
            height: 100px;
            background-color: black;
            border: 1px solid black;
            display: flex;
        }

        #main div {
            flex-grow: 0;
            flex-shrink: 5;
        }
    </style>
</head>
<body>

<div id="main">
    <div style="background-color:white; flex-basis: 100px;">1</div>
    <div style="background-color:red; flex-basis: 200px;">2</div>
    <div style="background-color:white; flex-basis: 300px;">3</div>
</div>

</body>
</html>
