<!DOCTYPE html>
<html>
<head>
    <style>
        #main {
            width: 100px;
            height: 100px;
            background-color: black;
            border: 1px solid black;
            display: flex;
        }

        #main div {
            flex-grow: 0;
            flex-shrink: 0;
        }
    </style>
</head>
<body>

<div id="main">
    <img src="itis.jpg" style="flex-basis: 10px; max-width: 50px;">
    <div style="background-color:red; flex-basis: 30px;">2</div>
</div>

</body>
</html>
